.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding-top: 3.2rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 4.2rem;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.2s ease-in-out;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2rem;
  height: 2rem;
}
